<section id="add" class="container">
    <div class="form-wrap">
      <h1>Agregar Usuario</h1>
      <p>Formulario para la creacion de usuarios</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/add" method="post"> 
        <div class="input-group">
          <label for="id"></label>
          <input type="hidden" name="id" id="id" class="input-box" placeholder=""
            maxlength="255" value={{id}}>
        </div>  
        <div class="input-group">
          <label for="correo">Correo</label>
          <input type="text" name="correo" id="correo" class="input-box" placeholder="Correo con el cual se registrara el usuario"
            maxlength="255" value={{correo}}>
        </div>
        <div class="input-group">
          <label for="clave">Clave</label>
          <input type="password" name="clave" id="clave" class="input-box" placeholder="clave del usuario"
          maxlength="255" value={{clave}}>
        </div>
        <div class="input-group">
          <label for="nombres">Nombres</label>
          <input type="text" name="nombres" id="nombres" class="input-box" placeholder="nombres del usuario"
          maxlength="160" value={{Nombres}}>
        </div>
        <div class="input-group">
          <label for="apellidopaterno">Apellidopaterno</label>
          <input type="text" name="apellidopaterno" id="apellidopaterno" class="input-box" placeholder="apellido paterno del usuario"
          maxlength="160" value={{apellidopaterno}}>
        </div>
        <div class="input-group">
          <label for="apellidomaterno">Apellidomaterno</label>
          <input type="text" name="apellidomaterno" id="apellidomaterno" class="input-box" placeholder="apellido materno del usuario"
          maxlength="160" value={{apellidomaterno}}>
        </div>
        <div class="input-group">
          <label for="avatar">Avatar</label>
          <input type="text" name="avatar" id="avatar" class="input-box" placeholder="mapa de bits del avatar del usuario"
          maxlength="255" value={{avatar}}>
        </div>
        <div class="input-group">
          <label for="activo">Activo</label>
          <input type="text" name="activo" id="activo" class="input-box" placeholder="Se encuentra activo 'si o no' "
          maxlength="2" value={{activo}}>
        </div>
        <div class="input-group">
          <label for="fechacreacion"></label>
          <input type="hidden" name="fechacreacion" id="fechacreacion" class="input-box" placeholder="Se encuentra activo 'si o no' "
          maxlength="255" value={{fechacreacion}}>
        </div>
        <div class="input-group">
          <label for="fechamodificacion"></label>
          <input type="hidden" name="fechamodificacion" id="fechamodificacion" class="input-box" placeholder="Se encuentra activo 'si o no' "
          maxlength="255" value={{fechamodificacion}}>
        </div>
        <input type="submit" value="Añadir usuario" class="btn btn-reverse">
      </form>
    </div>
  </section>